streamlit==1.43.2
requests==2.32.3
pandas==2.2.3
langchain==0.3.21
ollama==0.4.7
pypdf==5.4.0
openai==1.69.0
simplejson==3.20.1
python-dotenv==1.0.1
gTTS==2.5.4
playsound==1.3.0
pydub==0.25.1
torch==2.6.0
transformers==4.50.0.dev0
praisonaiagents==0.0.65
sounddevice==0.5.1
numpy==1.26.4
noisereduce==3.0.3
scipy==1.13.1
soundfile==0.13.1
pymongo==4.11.3